body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ff0000; 
  height: 100px; 
}

header ul {
  padding: 75px 0 0 0;
  margin: 0;
}

header ul li {
  display: inline;
  color: #ffffff;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
