body {
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
}

header {
  background-color: #cc0000;
  height: 70px;
  margin-bottom: 50px;
}

header ul {
  font-family: 'Special Elite', cursive;
  font-size: 15px;
  text-transform: lowercase;
  list-style: none;
  text-align: right;
  padding: 18px 10px 0 0;
  margin: 0;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 12px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.journalist-list {
  list-style: none;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.journalist-list li {
  display: inline block;
  padding:  15px 5px;
}

.journalist-detail img {
  height: 200px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.journalist-detail p {
  text-align: center;
}

.add-button-wrapper, .edit-journalist-button-wrapper {
  text-align: center;
}

.back-delete-journalist-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-journalist-button, .edit-journalist-button, .show-all-button{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: #008CBA;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
}

.delete-journalist-button {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
}

.form {
  text-align: center;
}

.logo {
  float: left;
}
