body {
  background-color: seashell;
}

#articles-table {
  border: 1px solid black;
}

thead {
  font-weight: bold;
  font-size: 20px;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.article-detail, h1, h2, h3, h4, h5 {
  font-family: "Roboto";
}

/* wrapper that includes bulletpoints and image */
.article-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
/* includes bulletpoints on article */
.article-bulletpoints {
  margin-left: 50px;
}

.article-image {
  margin-top: 15px;
  margin-right: 50px;
}

.article-text {
  text-align: center;
}

.articles-container{
  text-align: center;
}

.article-list, .edit-article-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete-back-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 350px;
}

.add-article-button, .edit-article-button, .back-button {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  background-color: #008CBA;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
}

.delete-article-button {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f44336;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
}

.article-number-element {
  padding-left: 10px;
  width: 30px;
  text-align: center;
}
.article-headline-element {
  width: 600px;
  text-align: center;
}
.article-date-element {
  padding-left: 10px;
  width: 150px;
  text-align: center;
}
.article-region-element {
  padding-left: 10px;
  width: 100px;
  text-align: center;
}

a{
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.article-image {
  width: 300px;
  padding-left: 300px;
}
